nf-core-raredisease-*/
refData/CADD/*
refData/Homo_sapiens/**
refData/intervals/*
refData/gnomad.genomes.*gz
refData/gnomad.genomes.*.tbi
refData/mito/chrM.dict
refData/mito/chrM.fa
refData/mito/chrM.fa.fai
refData/mito/chrM_shifted.dict
refData/mito/chrM_shifted.fa
refData/mito/chrM_shifted.fa.fai
refData/mito/chrM_shifted.shift_back.chain
refData/Homo_sapiens_NCBI_GRCh38.tar.gz
refData/README.txt
refData/variant_catalog_grch38.json
refData/vep_cache
._*
.DS_Store
