singularity
nf-core-raredisease-*/
nf-core-raredisease_*/
refData/archive
refData/bwamem2/
refData/CADD-v*/
refData/clinvar*/
refData/Homo_sapiens/**
refData/intervals/*
refData/gnomad.*.vcf*
refData/gnomad.*.tab.gz
refData/nstd166.GRCh38.variant_call.vcf.gz
refData/nstd166.GRCh38.variant_call.vcf.gz.tbi
refData/Homo_sapiens_NCBI_GRCh38.tar.gz
refData/README.txt
refData/svdb_query_dbs.csv
refData/variant_catalog_grch38.json
refData/vep_cache
refData/vep_files
refData/vep_files.csv
refData/vcfanno_resources.txt
refData/mobile_element_references.tsv
._*
.DS_Store
